[Unit]
Description=wssh daemon
Requires=wssh.socket
After=network.target

[Service]
ExecStart=/usr/local/venv/wssh/bin/wssh \
              --xheaders=True \
              --fbidhttp=False
User=root
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
