[Unit]
Description=wssh daemon
Requires=wssh.socket
After=network.target

[Service]
ExecStart=/usr/local/venv/wssh/bin/wssh \
              --xheaders=True \
              --fbidhttp=False \
              --certfile='/etc/ssl/ansible/certs/{{ conference_name }}.fullchain.pem' \
              --keyfile='/etc/ssl/ansible/private/.{{ conference_name }}key'
User=root
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
