# proc            /proc           proc    defaults          0       0
# 10.21.0.1:{{ nfs_root }}/boot /boot/firmware nfs defaults,noauto,ro,nfsvers=3 0 0
10.21.0.1:{{ nfs_root }}/root / nfs defaults,noauto,ro,nfsvers=3 0 0
