[Unit]
Description=pistat: shutdown
After=multi-user.target
# Before=shutdown.target # maybe needed to make sure curl finishes before the network is stopped?

[Install]
WantedBy=multi-user.target

[Service]
EnvironmentFile=/etc/environment
ExecStop=/usr/bin/curl https://${pistat_host}/pistat/stat/%l/shutdown/
Type=oneshot
RemainAfterExit=yes
