[Unit]
Description=pi status cam ready
After=cam.target systemd-user-sessions.target
PartOf=cam.service
BindsTo=cam.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/curl --silent https://${pistat_host}/pistat/stat/%l/cam/
Type=oneshot

[Install]
WantedBy=multi-user.target
