#!/usr/sbin/nft -f

flush ruleset

table inet filter {

  chain input {
    type filter hook input priority 0;
    iif "lo" accept;
          tcp dport http counter accept;
          tcp dport https counter accept;
          tcp dport ssh counter accept;
              meta l4proto {icmp, icmpv6} counter accept;
              udp dport { 67, 68, 546, 547 } counter accept;
                    tcp dport 4433 counter accept;
          # tcp dport 4433 counter accept;
          # tcp dport 8888 counter accept;
        jump internal_networks;
    jump custom_rules;
    ct state invalid,new,untracked counter drop;
  }

  chain internal_networks {
          ip saddr {{ eth_local_address }}/{{ eth_local_netmask }} counter accept;
      }

  chain custom_rules {
      }

  chain forward {
    type filter hook forward priority 0; policy accept;
        # tcp dport { 1234, 4321 } log prefix "forward " accept;
  }

  chain output {
    type filter hook output priority 0;
  }

}

table ip nat {
        chain postrouting {
                type nat hook postrouting priority 100; policy accept;
                masquerade
        }

        chain prerouting {
                type nat hook prerouting priority -100; policy accept;

                # Netgear PoE switch:
                ip daddr {{ eth_uplink_static_address }} tcp dport { 20080 } dnat to {{ pib_network }}.200:80

# pattern:  x.y.z.o port p: op
# # 10.21.0.171:80 gets 171 80

{% for pi in nos %}
                ip daddr {{ eth_uplink_static_address }} tcp dport { {{ 100+pi.port}}22 } dnat to {{ pib_network }}.{{ 100+pi.port}}:22
                ip daddr {{ eth_uplink_static_address }} tcp dport { {{ 100+pi.port}}44 } dnat to {{ pib_network }}.{{ 100+pi.port}}:4444

{% endfor %}

                # ip daddr 198.0.220.197 tcp dport { 22622 } dnat to 10.21.0.226:22
        }
}
