<html>
<head>

  <link rel="icon" href="/fpga.png">

  <link href="https://vjs.zencdn.net/8.4.0/video-js.min.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/8.4.0/video.min.js"></script>

  <script src="/dcws.js"></script>
  <link rel="stylesheet" href="/pib.css"/>

  <script src="https://f4pga-examples.readthedocs.io/en/latest/_static/jquery.js"></script>
  <link rel="stylesheet" href="https://f4pga-examples.readthedocs.io/en/latest/_static/stylesheets/f4pga.css"/>

</head>

<body>
  <a href="/">Home</a>

<div style="float: right;"> <a href="https://github.com/CarlFK/pici/blob/main/ansible/roles/site/files/pib/pibfpgas/src/pibfpgas/templates/tt.html">Edit this page</a> on GitHub.</div>

<table>
  <tr>
    <td colspan=2>
      <h1>Accessing pi{{pi.port}}</h1>
    </td>
  </tr><tr>
  <td colspan=3>

  <table class="buttons">
	 <tr>
	  <td><h2>Pi Controls:</h2></td>
          <td>
            Turn it off and on again: <input id="reset{{pi.port}}" type="submit" value="Reset" >
          </td>
	 </tr>
	</table>
  <table class="buttons">
	 <tr>
	  <td><h2>Demos:</h2></td>
     <td>
      <input id="tt910" type="submit" value="Linux on KianV RISC-V" >
     </td>
	 </tr>
	</table>
    </td>
  </tr>

  <tr height="80%">

    <td style="width:20%" >
      <video
        id="video-player{{pi.port}}"
        class="video-js"
        width=320
        controls
        autoplay
        muted
        preload="auto"
        data-setup="{}"
      >
        <source
            src="https://{{ domain_name }}/live/pi{{pi.port}}.m3u8"
            type='application/x-mpegURL'
        />
      </video>
    </td>

    <td style="width:80%" >
      <iframe id="wssh_if" style="width: 100%; height: 100%;" src="https://{{ domain_name }}/wssh/?hostname={{ip}}&username=pi&title=pi{{pi.port}}&password={{pw}}">
      </iframe>
    </td>
  </tr>

  <tr>
    <td colspan=3>
      <div>
        <textarea id="log{{pi.port}}" cols="85" rows="4" placeholder="pi status" readonly style="width:100%;"></textarea><br>
      </div>


    </td>
  </tr><tr>

    <td colspan=2>
      Use your own ssh client<br>user: pi<br> host: {{ domain_name }}<br> port {{o}}22<br>
      like this (click to copy):

      <div class="highlight-bash notranslate">
          <div class=highlight style="position:relative">
             <pre click-to-copy="click to copy...">ssh -p {{o}}22 pi@{{ domain_name }}</pre>
          </div>
      </div>

      <br>
    </td>
  </tr>
</table>

	  <td><h2>Page Controls:</h2></td>
          <td>
        Send messages to the debug window:
        <input id="log-text{{pi.port}}" type="text" size="60" placeholder="WS test message">
        <input id="log-submit{{pi.port}}" type="button" value="Send WS">
        </p>

        <input id="refresh-video-player{{pi.port}}" type="submit" value="reset video player" >
        <input id="wssh-connect" type="submit" value="reset ssh" >
          </td>

          <td>
        <input id="reconnect{{pi.port}}" type="submit" value="reconnect WS" >
	      <input id="status{{pi.port}}" type="submit" value="Check PoE" >

      <input id="usb_off" type="submit" value="Usb Power Off" >
      <input id="usb_on" type="submit" value="Usb Power On" >
          </td>

    <td>
      Pi patch cable color: {{pi.loc}} {{pi.cable_color}} <br>
    </td>
	 </tr>

      <input id="blink_leds" type="hidden" value="Blink LEDs" >
      <input id="boot_micro_python" type="hidden" value="Load MicroPython">
      <input id="boot_linux" type="hidden" value="Boot Linux" >
      <input id="check_wire" type="hidden" value="Check Wire" >

<script src="https://f4pga-examples.readthedocs.io/en/latest/_static/javascripts/f4pga.js"></script>
<script>PiStatus("{{pi.port}}")</script>
<script src="/demos.js"></script>


<h1>Useful links</h1>

    <h2>Tiny Tapeout</h2>
    <ul>
      <li><a href="https://tinytapeout.com">Tiny Tapeout</a> is an educational project that makes it easier and cheaper than ever to get your designs manufactured on a real chip!</li>
      <li><a href="https://tinytapeout.com/chips/tt06/tt_um_kianV_rv32ima_uLinux_SoC">910 : KianV uLinux SoC</a> The Tiny Tapeout project featured here.
    </ul>

    <h2>Host:</h2>
    <ul>
      <li><a href="https://pumpingstationone.org">PumpingStation One</a> Hackrspace in Chicago, IL USA</li>
      <li><a href="https://github.com/CarlFK/pici/wiki"> github.com/CarlFK/pici</a> The server setup hosting the TT06 board</li>
    </ul>

</body>
</html>
