<html>
<!-- {{ ansible_managed }} -->
<head>
<title>{{ conference_name }} streaming backend on {{ inventory_hostname }}</title>
</head>
<body>
<p>Hello, I'm {{ inventory_hostname }}, a streaming backend for {{ conference_name }}.</p>
</body>
</html>
