# pib/pici/files/pxe/ufw/sshd_config

Port 22129

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

LoginGraceTime 2m
PermitRootLogin yes
PubkeyAuthentication yes

# Security
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

PasswordAuthentication no
ChallengeResponseAuthentication no

X11Forwarding no
UsePam yes
PrintMotd no
AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server
