[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=weez
Group=www-data
WorkingDirectory=/usr/local/venv/wssh/bin
ExecStart=/usr/local/venv/wssh/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          pib.wsgi:application

[Install]
WantedBy=multi-user.target
