# {{ ansible_managed }}
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="{{ eth_local_mac_address }}", NAME="eth-local"
{% if eth_uplink_mac_address is defined %}
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="{{ eth_uplink_mac_address }}", NAME="eth-uplink"
{% endif %}
