# Ansible Managed

[Install]
WantedBy=multi-user.target

[Unit]
Description=stream video to nginx-rtmp
After=network-online.target
Wants=network-online.target
StartLimitInterval=0

[Service]
ExecStart=/usr/local/bin/gst-libcam.sh
Restart=always
RestartSec=1
