[Unit]
Description=daphne daemon
Requires=daphne.socket
# Requires=redis.service
After=network.target

[Service]
User={{ user_name }}
Group=www-data
EnvironmentFile=/etc/environment
WorkingDirectory={{ django_dir }}
ExecStart={{ django_dir }}/venv/bin/daphne \
          --port 8085 \
          {{ django_project_name }}.asgi:application

[Install]
WantedBy=multi-user.target
