<html>
<head>

  <link rel="icon" href="fpga.png">

  <link href="//vjs.zencdn.net/8.4.0/video-js.min.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/8.4.0/video.min.js"></script>

  <script src="dcws.js"></script>

<style>

table.button td {
 border: 1px solid black;
 text-align: center;
 padding: 10px;
}

table.button {
 margin-left: auto;
 margin-right: auto;
}
</style>

</head>

<body>

<div style="float: right;"> <a href="https://github.com/CarlFK/pici/edit/main/ansible/roles/site/templates/index.html.j2">Edit this page</a> on GitHub.</div>

<table width="100%" style="height: 100px; text-align: center;">
  <tr>
    <td colspan=2 style="text-align: center;"><h1>Access an FPGA right now!</h1></td>
  </tr><tr>
    <td>
      <p>On this page anyone (including you!) can remotely access and control an FPGA development board! There is even a camera to see the LEDs.</p>
      <table class="button">
        <tr>
	  <td><a href="">See demo</a></td>
	  <td><a href="">Learn FPGAs</a></td>
	  <td><a href="https://github.com/CarlFK/pici/wiki">Behind the scenes</a></td>
	  <td><a href="mailto:me@mith.ro,cfkarsten@gmail.com?subject=Helping with Arty FPGA access system" target="_blank">Help out!</a></td>
	</tr>
      </table>
      <p>There are ~10 FPGAs boards connected to this system, so there should always be one free and ready for you to use!</p>
    </td><td>
      <img src="intro.png" style="height:150px;">
    </td>
  </tr>
</table>

<div style="width: 100%;">

{% for pi in switch.nos %}

<table style="width: 100px; float: left;">
 <tr><td><h1>FPGA pi{{pi.port}}</h1></td></tr>
 <tr><td>CURRENT STATUS</td></tr>
 <tr><td><a href="">Use this FPGA</a></td></tr>
 <tr>
  <td>
    <video
      id="video-player{{pi.port}}"
      class="video-js"
      controls
      preload="auto"
      data-setup="{}"
    >
      <source
          src="https://{{ domain_name }}/live/pi{{pi.port}}.m3u8"
          type='application/x-mpegURL'
      />
    </video>
  </td>
 </tr>
</table>

{% endfor %}

</div>

</body>
</html>
