<head>
  <link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet" />
  <script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script>

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <!-- <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> -->
</head>

<body>

{% for pi in nos %}

  pi{{pi.port}}<br>
  <a href="https://frontend.ps1.fpgas.mithis.com:4433/?hostname=10.21.0.{{100+pi.port}}&username=pi&password=RWlQbzNhZXg=">
    ssh -p {{100+pi.port}}22 pi@ps1.fpgas.mithis.com<br>
  </a>
  vlc https://frontend.ps1.fpgas.mithis.com/live/pi{{pi.port}}.m3u8<br>

  <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    data-setup="{}"
  >
    <source
        src="https://frontend.ps1.fpgas.mithis.com/live/pi{{pi.port}}.m3u8"
        type='application/x-mpegURL'
    />
  </video>
    <!-- <source src="https://backend.ps1.fpgas.mithis.com/live/pi{{pi.port}}_src.m3u8" type='application/x-mpegURL' /> -->

<form method="get" action="http://ps1.fpgas.mithis.com:8001/snmp/toggle">
 Turn it off and on again.<br>
 <input type="submit" value="Reset {{pi.port}}" class=reset_button>
 <input type="hidden" name="port" value="{{pi.port}}">
</form>

  <hr>

{% endfor %}

<a href="https://github.com/CarlFK/pici">https://github.com/CarlFK/pici</a>

</body>
