<html>
<head>

  <link href="https://vjs.zencdn.net/7.19.2/video-js.css" rel="stylesheet" />
  <script src="https://vjs.zencdn.net/7.19.2/video.min.js"></script>

  <script src="dcws.js"></script>

  <script src="/static/js/vendor/jquery/jquery-ui.min.js"></script>
  <script src="snmp.js"></script>

</head>

<body>

<p>
What is it?<br>
Goals, wiring diagarms and pictures of the setup, etc.:<br>
<a href="https://github.com/CarlFK/pici/blob/main/README.md">https://github.com/CarlFK/pici/blob/main/README.md</a>
</p>

<p>
The Pi/Arty boards:
</p>

<hr>

{% for pi in switch.nos %}

  pi{{pi.port}} cable: {{pi.cable_color}}<br>
  <a href="https://{{ domain_name }}/wssh/?hostname=10.21.0.{{100+pi.port}}&username=pi&title=pi{{pi.port}}&password={{pi_pw|b64encode}}">
    ssh -p {{100+pi.port}}22 pi@{{ domain_name }}<br>
  </a>
  <div>
  <textarea id="log{{pi.port}}" cols="85" rows="4" placeholder="boot status"></textarea><br>
  <input id="log-input{{pi.port}}" type="text" size="20">
  <input id="log-submit{{pi.port}}" type="button" value="Send">
  </div>

  vlc https://{{ domain_name }}/live/pi{{pi.port}}.m3u8<br>

  <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    data-setup="{}"
  >
    <source
        src="https://{{ domain_name }}/live/pi{{pi.port}}.m3u8"
        type='application/x-mpegURL'
    />
  </video>
  <a href="https://{{ domain_name }}/live/pi{{pi.port}}_src.m3u8" > https://{{ domain_name }}/live/pi{{pi.port}}_src.m3u8" </a>

<form id="form-reset{{pi.port}}" method="post" action="/snmp/toggle">
 Turn it off and on again.
 <input type="hidden" name="port" value="{{pi.port}}">
 <input id="submit-reset{{pi.port}}" type="submit" value="Reset {{pi.port}}" class=reset_button>
</form>

<form method="post" action="/snmp/status">
 Check it:<br>
 <input type="submit" value="status {{pi.port}}" class=reset_button>
 <input type="hidden" name="port" value="{{pi.port}}">
</form>

  <script>PiStatus("{{pi.port}}"); </script>

  <hr>

{% endfor %}

<hr>
<form method="post" action="/snmp/off_all">
 Turn them all off!<br>
 <input type="submit" value="all off" >
</form>


<hr>
<form method="post" action="/snmp/toggle_all">
 Turn them all off and on again.<br>
 <input type="submit" value="Reset all" class=reset_button>
</form>

<a href="https://github.com/CarlFK/pici">https://github.com/CarlFK/pici</a>

</body>
</html>
