# Ansible managed

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ domain_name }};

  ssl_certificate /etc/ssl/ansible/certs/{{ conference_name }}.fullchain.pem;
  ssl_certificate_key /etc/ssl/ansible/private/{{ conference_name }}.key;

  add_header Strict-Transport-Security "max-age=15552000";

  root {{ static_dir }};

  index index.html;

  location /live {
    root {{ streaming.backend.data_root }}/hls;
    autoindex on;
  }

  location /snmp/ {
    include proxy_params;
    proxy_pass http://unix:/run/gunicorn.sock;
  }

  access_log /var/log/nginx/{{ conference_name }}-access.log;
  error_log /var/log/nginx/{{ conference_name }}-error.log;

}
