# Ansible managed

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ domain_name }};

  ssl_certificate /etc/ssl/ansible/certs/{{ conference_name }}.fullchain.pem;
  ssl_certificate_key /etc/ssl/ansible/private/{{ conference_name }}.key;

  add_header Strict-Transport-Security "max-age=15552000";

  root {{ static_dir }};

  index index.html;

  location /live {
    alias {{ streaming.backend.data_root }}/hls/source/;
    autoindex on;
  }

  location /snmp/ {
    include proxy_params;
    proxy_pass http://unix:/run/gunicorn.sock;
  }

  location /wssh/ {

    rewrite /wssh/(.*) /$1 break;

    proxy_pass https://127.0.0.1:4433;
    proxy_http_version 1.1;
    proxy_read_timeout 300;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Real-PORT $remote_port;

  }

  access_log /var/log/nginx/{{ conference_name }}-access.log;
  error_log /var/log/nginx/{{ conference_name }}-error.log;

}
